<div class="container mt-5 w-50">
    <h2>Recuperar contraseña</h2>
    <br>
    <div style="display: none;" id="token">{{token}}</div>

    {{#if hasExpired}}
        <h2>El link Expiro!</h2>
        <h3>Vuelve a <a href="/users/recover"> recuperar contraseña</a> para generar un nuevo link</h3>
    {{else}}
        <div class="container mt-5 w-50">
            <form id="recoverForm" class="form">
                <div class="mb-3 w-50">
                    <label for="passwordInput" class="form-label">Nueva contraseña</label>
                    <input type="password" class="form-control" name="password" id="passwordInput" required>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
            <br>
            <p>No tenes cuenta? <a href="/users/register">Registrate!</a></p>
            <p><a href="/users/login">Inicia sesion</a></p>
        </div>
    {{/if}}
</div>
<script src="/js/recoverLanding.js"></script>