<div class="container mt-5 w-50">
    <h2>Restaurar contraseña</h2>
    <br>
    <form id="restoreForm">
        <div class="mb-3 w-50">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Ingrese su Email">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <br>
    <p>No estas registrado? <a href="/users/register">Registrate Aqui!</a></p>
    <p>Ya tenes cuenta? <a href="/users/login">Inicia sesion!</a></p>
</div>
<script src="/js/recover.js"></script>