body {
    background-color: #f1f1f1;
}

.card {
    border: none;
    background-color: #fff;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.btn-primary {
    background-color: #27d6ed;
    border-color: #a526e4;
}

.btn-primary:hover {
    background-color: #15f66f;
    border-color: #fe0e0e;
}